<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <base href="/" />
    <base name="user-id" value="<%= id %>" />
    <link rel="stylesheet" href="./css/min/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
      <div class="container">
        <center>
            <div class="clock row">
                <time-display :seconds="seconds" inline-template>
                    <div>
                        <h3>Time Display</h3>
                        <div class="time-display">{{time}}</div>
                    </div>
                </time-display>
                <time-tracker inline-template>
                    <div>
                        <h3>Time Tracker</h3>
                        <div class="time-tracker">{{time}}</div>
                    </div>
                </time-tracker>
                <inactivity-tracker inline-template>
                    <div>
                        <h3>Inactivity Tracker</h3>
                        <div class="activity-tracker">{{time}}</div>
                    </div>
                </inactivity-tracker>
            </div>
            <br>
            <h3>Switch tabs or switch windows while keeping this open and see what happens</h3>
            <br>
            <h3>We can use something similar for time tracking ...</h3>
            <br>
            <h3>Inactivity Tracker will reset on:</h3>
            <ul>
                <li>onfocus</li>
                <li>onkeydown</li>
                <li>onmousemove</li>
                <li>onwheel</li>
                <li>onmousewheel</li>
                <li>onmousedown</li>
                <li>onkeyup</li>
                <li>15 seconds elapsed since last activity</li>
            </ul>
        </center>
    </div>
    <script type="text/javascript" src="./js/app.config.js"></script>
    <script type="text/javascript" src="./js/min/vue.min.js"></script>
    <script type="text/javascript" src="./js/socket.js"></script>
    <script type="text/javascript" src="./js/time-tracker.js"></script>
    <script type="text/javascript" src="./js/inactivity-tracker.js"></script>
    <script type="text/javascript" src="./js/time-display.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>
